@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Kanit", sans-serif;
}

.input-box input::placeholder {
  color: rgb(173, 173, 173);
  font-weight: 300;
}

.bg-color{
  height: min-content;
  background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);


}

.custom-next-arrow, .custom-prev-arrow {
  position: absolute;
  top: -15%;
  cursor: pointer;
  font-size: 24px; /* Customize size */
  color: #fff; /* Customize color */
  z-index: 1;
}

.custom-next-arrow {
  right: 10px; /* Position on the right */
}

.custom-prev-arrow {
  right: 40px; /* Position on the left */
}
